@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-baloo), sans-serif;
  color: #1E1464;
  background-color: #FFD83A;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button,
a {
  transition: all 0.2s ease-in-out;
}

button:hover,
a:hover {
  opacity: 0.9;
  transform: scale(1.02);
}
