@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Estilos Globais ===== */
body {
  font-family: "Fredoka", sans-serif;
  background-color: #fde047; /* amarelo suave */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
