@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Fredoka", "Poppins", sans-serif;
  background-color: #FFD733;
  margin: 0;
  padding: 0;
}

h1 {
  text-shadow: 5px 5px 0 #FFD733;
}
