@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- BASE GERAL ---------- */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  background-color: #FFD83A;
  color: #1E1464;
  scroll-behavior: smooth;
}

/* ---------- RESET ---------- */
* {
  box-sizing: border-box;
}

/* ---------- TÍTULOS ---------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #1E1464;
}

/* ---------- BOTÕES ---------- */
button {
  font-family: 'Fredoka', sans-s
